.content {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.sidebar {
  width: 100%;
  background-color: dimgray;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.menu__item a {
  display: inline-block;
  line-height: 0;
  padding: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;

  color: aliceblue;
}

.menu_after > a::after{
  content: "+";
  margin: 0 5px;
}

.submenu_after > a::after{
  content: "+";
  margin-left: 55px;  
}

.menu__item:hover > .submenu {
  display: block;
}

.submenu {
  display: none;
  position: absolute;
  z-index: 1;
  width: 250px;
  border-radius: 7px;
  background-color: dimgray;
  border: 1px solid grey;
}

.submenu {
  text-align: left;
}

.submenu__position {
  position: relative;
}

.submenu .submenu__item_2:hover .submenu {
  display: block;
}

.submenu--product {
  top: 0;
  left: 100%;
}

.submenu__item:last-child {
  margin-bottom: 0px;
}

.submenu__item:first-child {
  margin-top: 0px;
}

.main-content {
  width: 100%;
  margin: 0;
  text-align: center;
}